
.glass-card {

  backdrop-filter: blur(6px) saturate(120%);
  -webkit-backdrop-filter: blur(6px) saturate(120%);
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.feature-card {
  border: .5px solid var(--Border-Border-II, #26282c);
  background: rgba(255,255,255,0.01);
  padding: 20px;
  border-radius: 14px;
  min-height: 120px;
  transition: transform 200ms ease, box-shadow 200ms ease;
}

.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.logo-placeholder{
  padding: 10px 15px;
  border-radius: 32px;
  border: .5px solid var(--Border-Border-II, #26282c);
  background: linear-gradient(0deg, #1a1c1e 60.76%, #27292b);
}

