.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-card {
  width: 400px;
  background: #111;
  border: .5px solid var(--Border-Border-II, #26282c);
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  position: relative;
  color: white;
  animation: popscale 0.4s ease;
}

@keyframes popscale {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  padding: 5px;
  border-radius: 50%;
  font-size: 22px;
  background: none;
  border: .5px solid var(--Border-Border-II, #26282c);
  color: #fff;
  cursor: pointer;
}
.close-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ff0000;
  color: #ff0000 !important;
}

.title {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin-top: 4px;
  color: #ccc;
}

.form-group {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
}

.form-group input,
.form-group textarea {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;
  color: #fff;
}

.error {
  color: #ff4e4e;
  font-size: 12px;
  margin-top: 3px;
}

@media (max-width: 450px) {
  .popup-card {
    width: 90%;
    padding: 20px;
  }
  .popup-overlay{
    padding: 0 10px;
  }
}
.refersh-submit{
  padding: 12px 20px !important;
}
/* in RefreshPopup.css */
.contact-inline-card {
  border: 1px solid #2a2a2a;
  border-radius: 0.75rem;
  padding: 2rem;
  width: 100%;
  background-color: #111111;
}
.form-group select {
  background: #1a1a1a;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #444;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.form-group select:focus {
  border-color: #ffff;
}

.form-group select option {
  background: #111;
  color: #fff;
}