.service-feature-card {
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 14px;
  transform: translateY(28px) scale(0.98);
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  padding: 10px;

}

.service-feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 28px rgba(255, 0, 150, 0.3);
}


.stats-wrapper .backdrop-overlay {
  backdrop-filter: blur(10px) saturate(120%);
  background: rgba(0, 0, 0, 0.25);
}

.service-feature-content {
  background: linear-gradient(234deg, #5a5e6861, #000000);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .25);
  padding: 20px;
  border-radius: 15px;
}

.learn-more-btn {
  padding: 10px 15px;
  border-radius: 32px;
  border: .5px solid var(--Border-Border-II, #26282c);
  background: linear-gradient(0deg, #1a1c1e 60.76%, #27292b);
}
.slider-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #111;
  border: 1px solid #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff00b9;
}
