.feature-card {
  transition: 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 14px;
}

.feature-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 28px rgba(255, 0, 150, 0.3);
}


.stats-wrapper .backdrop-overlay {
  backdrop-filter: blur(10px) saturate(120%);
  background: rgba(0, 0, 0, 0.25);
}
