.team-card {
  border: 1px solid var(--Border-Border-II, #26282c);
  transition: all 0.3s ease;
}

.team-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 35px 6px rgba(255, 0, 185, 0.35);
}
