@import "tailwindcss";

/* custom utilities (immediate, guaranteed) */
@layer utilities {
    .bg-brand-green {
        background: linear-gradient(90deg, #ff007a, #00d4ff);
    }

    .text-brand-pink {
        background: linear-gradient(90deg, #ff007a, #ff00b9, #ff4bd8, #ff007abf, #7a00ff94, #3df41ca1, #0077ffab);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-family: 'Times New Roman', Times, serif;
    }

    .text-brand-pinks {
        color: #ff00b9;
        font-family: 'Times New Roman', Times, serif;
    }

    .bg-brand-gradient {
        background-image: linear-gradient(90deg, #ff007a, #00d4ff);
    }

    .text-smokey {
        color: #b1b3b5;
    }

    .gradient-border {
        border: 2px solid transparent;
        border-image: linear-gradient(90deg, #ff007a, #00d4ff) 1;
    }

}