@import "tailwindcss";

/* GLOBAL FIX – remove horizontal scrolling */
html,
body {
  overflow-x: hidden !important;
  width: 100%;
}

/* custom utilities (immediate, guaranteed) */
@layer utilities {
  .bg-brand-green {
    background: linear-gradient(90deg, #ff007a, #00d4ff);
  }

  .text-gradient {
    background: linear-gradient(90deg,
        #ff007a,
        #ff00b9,
        #ff4bd8,
        #ff007abf,
        #7a00ff94,
        #3df41ca1,
        #0077ffab);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Times New Roman", Times, serif;
  }

  .text-brand-pink {
    color: #ff00b9;
    font-family: "Red Hat Text", sans-serif;
  }

  .bg-brand-gradient {
    background-image: linear-gradient(90deg, #ff007a, #00d4ff) !important;
  }

  .text-smokey {
    color: #b1b3b5;
    font-family: "Red Hat Text", sans-serif;
  }

  .gradient-border {
    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #ff007a, #00d4ff) 1;
  }

  .fontfamily-content {
    letter-spacing: 0.5px;
    font-family: "Red Hat Text", sans-serif;
  }

  .fontfamily-title {
    letter-spacing: 1px;
    font-family: "Red Hat Text", sans-serif;
  }
}

button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  background: #000000 !important;
  color: #ffffff !important;
}

.PhoneInputCountry {
  background: #000000 !important;
  color: #ffffff !important;
  border-radius: 5px !important;
  padding: 5px !important;
  border: 1px solid #444 !important;
}

.common-button {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #aaaeb7 !important;
  border-radius: 32px;
  border: .5px solid var(--Border-Border-II, #26282c) !important;
  background: linear-gradient(0deg, #1a1c1e 60.76%, #27292b) !important;
}

/* Wrapper */
.custom-phone-input {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: 1px solid #2a2a2a;
  border-radius: 0.75rem;
}



/* Actual input */
.custom-phone-input .PhoneInputInput {
  padding: 12px;
  border-radius: 0 12px 12px 0;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: 0.95rem;
}

/* Placeholder color on dark bg */
.custom-phone-input .PhoneInputInput::placeholder {
  color: #9ca3af;
  /* Tailwind gray-400 */
}

.contact-send {
  max-width: fit-content;
}

.ant-switch.ant-switch-checked {
  background-color: #2c84db !important;
}
.ant-switch{
  background: #27292b !important;
}